*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: azure;
    padding: 16px 0;
    margin-bottom: 32px;
}

.carousel img{
    height: 400px;
}

@media screen and (max-width: 640px){
    .container{
        max-width: 90%;
        width: 100%;
    }
    
    header{
        padding: 8px;
    }

    .row{
        display: block;
    }

    .card{
        width: 100%;
    }

}

@media screen and (min-width: 640px) and (max-width: 1024px){
    .container{
        max-width: 90%;
        width: 100%;
        display: flex;
    }

    .container-flex{
        display: flex;
        flex-wrap: wrap;
    }

    .card{
        width: 50%
    }

}